{% extends 'index.html' %}
{% load bootstrap staticfiles %}

{% block titulo %} {{ block.super }} - {{ action }} {% endblock titulo %}

{% block content %}

    <div class="box">
        <div class="box-header with-border">
          <h3 class="box-title">{{ action }}</h3>
          <div class="box-tools pull-right">
            <a href="{% url 'manager:index' %}" class="btn btn-box-tool" data-toggle="tooltip" title="Remove">
              <i class="fa fa-times"></i></a>
          </div>
        </div>
        <div class="box-body">
            <form action="" method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form|bootstrap }}
                <input type="submit", value="Salvar" class="btn btn-success">
                <a href="{% url 'manager:index' %}" class="btn btn-danger">Fechar</a>
            </form>
        </div>
      </div>

{% endblock content %}

{% block static_file_botton %}
<script src="{% static 'plugins/ckeditor/ckeditor.js' %}"/>
{% endblock static_file_botton %}